{% extends 'base.html' %}

	{% block head %}
	<title>Edit</title> 
	{% endblock %}


	{% block body %} 
	<hr>
	<h2>Edits:</h2>

	<form action='/posts/edit/{{post.id}}' method='POST'>
		Title: <input class="form-control" type="text" aria-label="Search" name='title' id='title' value='{{post.title}}'>
		<br>
		Author: <input class="form-control" type="text" aria-label="Search" name='author' id='author' value='{{post.author}}'>
		<br>
		<div class="form-group">
		    <label for="content">Post</label>
		    <textarea class="form-control" name='content' id="content" rows="4">{{post.content}}</textarea>
		  </div>
			<br>
			<input class="btn btn-success" type='submit' value='Save'>
	</form>
	<hr>

	{% endblock %}

