{% extends 'base.html' %}

	{% block head %}
	<title>Posts</title> 
	{% endblock %}




	{% block body %} 
	<br>
	<div class="container-fluid">
		<h1>All Posts</h1>

		<hr>
		<h2>Create New Blog Post:</h2>
		<form action='/posts' method='POST'>
			Title: <input class="form-control" type="text" placeholder="title your post" aria-label="Search" name='title' id='title'>
			<br>
			Author: <input class="form-control" type="text" placeholder="your name" aria-label="Search" name='author' id='author'>
			<br>
		<div class="form-group">
		    <label for="content">Post</label>
		    <textarea class="form-control" name='content' id="content" rows="4" placeholder='enter content'></textarea>
		  </div>
			<input class="btn btn-success" type='submit' value='Post'>
		</form>
	</div>
	<hr>

		{% for post in posts %}
		<div class="container-fluid" id="postdiv">
			<h2>{{ post.title }}</h2>
			{% if post.author %}
				<small>Written by: {{ post.author }} on {{post.date_posted}}</small>
			{% else %}
				<h4>By: N/A on {{post.date_posted}}</h4>
			{% endif %}
			<br>
			<br>
			<p style="white-space:pre-wrap"> {{ post.content }}</p>
			<a class="btn btn-danger" href='/posts/delete/{{post.id}}'>Delete</a>
			<a class="btn btn-info" href='/posts/edit/{{post.id}}'>Edit</a>
			<hr>
		</div>
		{% endfor %}

	{% endblock %}

